{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card-body">
            <h5 class="card-title text-center">Forgot Password</h5>

            <hr>


            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="email" name="email" placeholder="Enter Email">
                </div>
                
                <button class="btn btn-primary btn-user btn-block" type="submit">Send email</button>
            </form>

            <hr>


            <br>
            <p style="font-size: 14px;">Forgot password or username? <a href="/forgot_password">Click Here</a>!</p>
            <p style="font-size: 14px;">Not a member? <a href="/register">Register</a>!</p>

            <br>


            {% comment %} <div class="messages">
                {% for message in messages %}
                  <p style="margin: 10px 0; padding: 5px; border-radius: 4px; font-size: 14px;
                            {% if message.tags == 'success' %} color: green; background-color: #e9f7ef; border: 1px solid #1c7430; {% endif %}
                            {% if message.tags == 'error' %} color: red; background-color: #f8e8e8; border: 1px solid #d32f2f; {% endif %}">
                    {{ message }}
                  </p>
                {% endfor %}
            </div> {% endcomment %}


            
            
            
        </div>
    </div>
</div>

<script>
    // Display the message for 5 seconds and then hide it
    setTimeout(function() {
        var message = document.getElementById('message');
        if (message) {
            message.style.display = 'none';
        }
    }, 5000);
</script>
<style>
    .error-message {
        color: red;
        background-color: #ffe6e6;
        padding: 10px;
        border: 1px solid #ff9999;
        border-radius: 4px;
    }
</style>

{% endblock %}
